/* Navbar Styles */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* padding: 15px 40px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.logo {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
}

.nav-links a {
  margin-left: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  transition: opacity 0.3s ease;
}

.nav-links a:hover {
  opacity: 0.7;
}


/* .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #111;
  color: #fff;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    overflow: visible !important;
  z-index: 1000; 
} */